html {
    will-change: transform;
}

/* nav bar */
nav {
    width: 100%;
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    display: flex;
    padding: 25px;
}

nav ul, .nav-logo {
    margin: 0;
    padding-left: 50px;
}

nav ul li {
    display: inline;
    padding-left: 50px;
}

.profile {
    padding-top: 50px;
}

.profile-img {
    border-radius: 50%;
    border: 7px solid #000000e9;
}

.about-content, .skills-content, .education-content, .projects-content, .contact-content, .footer-content {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 45px;
}

.profile_caption {
    margin: 0;
    padding: 20px;
}

.profile-header {
    margin: 0;
    font-weight: bold;
}

.resume-btn {
    color: #fff;
    background-color:#0a0a23;
    border:none;
    border-radius:10px;
    font-size: medium;
    font-weight: bold;
    padding: 15px;
}

.skills-header, .contact-header {
    font-weight: bold;
}

.skills-content table, .projects-content table {
    margin-left: auto;
    margin-right: auto;
}

.skills-content table {
    border-spacing: 0.5rem;
}

.skills-content table td {
    padding: 0.5rem;
}

.skills-content table td:nth-child(1) { background: hsl(150, 50%, 50%); }
.skills-content table td:nth-child(2) { background: hsl(160, 60%, 50%); }
.skills-content table td:nth-child(3) { background: hsl(170, 70%, 50%); }
.skills-content table td:nth-child(4) { background: hsl(180, 80%, 50%); }
.skills-content table td:nth-child(5) { background: hsl(190, 90%, 50%); }
.skills-content table td:nth-child(6) { background: hsl(200, 99%, 50%); }

.projects-content table {
    border-spacing: 30px;
}

.projects-content table tr td {
    padding: 60px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow .5s;
}

.projects-content table tr td:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.edu-large-container {
    padding-left: 15%;
}

.edu-container {
    border-radius: 25px;
    border: 2px solid #c3c3c36f;
    padding: 20px;
    display: flex;
    width: 75%;
}

.edu-content {
    padding-left: 20%;
}

.edu-logo {
    padding-left: 2%;
}

.footer-logo {
    padding: 15px;
}